.modal-header
    h3.modal-title 自定义
.modal-body( style='min-height:340px;')
    ul.custom-column.list-group(ui-sortable ng-model='myColumnDefs')
        li(ng-repeat='column in myColumnDefs')
            .input-group
                span.input-group-addon
                    input(type='checkbox' ng-click='column.visible=!column.visible' ng-checked='column.visible')
                input.form-control(ng-model='column.displayName')
.modal-footer
    button.btn.btn-sm.btn-success(ng-click='add()') 新增
    button.btn.btn-sm.btn-primary(ng-click='ok()') 确认
    button.btn.btn-sm.btn-warning(ng-click='cancel()') 取消