.sb-column.center#sb-contacts-detail(ng-init='contact=#{data}')
    .header
        h1
            | {{contact.name}}
            small(ng-show='contact.gender=="男"') 先生
            small(ng-show='contact.gender=="女"') 女士
    .main(ng-init='edit={status:false,tip:""}')
        .left(ng-nicescroll ns-options='{horizrailenabled:false}')
            .info-wrap
                div
                    .form-inline
                        span.text-right 姓名：
                        .form-group
                            input.form-control(ng-model='contact.name' ng-readonly='!edit.status')
            .info-wrap
                div
                    .form-inline
                        span.text-right 群组：
                        .form-group(ng-if='!edit.status')
                            input.form-control(ng-model='contact.group.display' readonly)
            .info-wrap(ng-repeat='init in contactInit' ng-switch='init.multiple')
                div(ng-switch-when='false')
                    .form-inline
                        span.text-right {{init.display+'：'}}
                        .form-group
                            input.form-control(ng-model='contact[init.value]' ng-value='contact[init.value]' ng-readonly='!edit.status')
                div(ng-switch-when='true')
                    .form-inline(ng-repeat='input in contact[init.value] track by $index')
                        span.text-right {{init.display+'：'}}
                        .form-group
                            input.form-control(ng-model='contact[init.value][$index]' ng-readonly='!edit.status')
                        span.border-left-none(ng-show='edit.status' ng-click='advance.plus(init.value,this)')
                            span.glyphicon.glyphicon-plus
                        span(ng-show='edit.status' ng-click='advance.minus(init.value,$index)')
                            span.glyphicon.glyphicon-minus
        .right
            .form-inline
                span 添加备注：
                .form-group
                    input.form-control(ng-model='newNoteContent')
                button.btn.btn-primary(ng-click='addNewNote()') 确认
            hr
            .timeline-container(ng-nicescroll ns-options='{horizrailenabled:false}')
                ul.timeline
                    li(ng-repeat='note in contact.notes')
                        .timeline-badge.info
                            span.glyphicon.glyphicon.glyphicon-star
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        span.glyphicon.glyphicon-calendar
                                        | {{note.createAt|date:'yyyy-M-dd H:mm:ss'}}
                            .timeline-body
                                p {{note.content}}