.sb-column.center#sb-contacts-detail(ng-init='contact=#{data}')
    .header
        h1
            | {{contact.name}}
            small(ng-show='contact.gender=="男"') 先生
            small(ng-show='contact.gender=="女"') 女士
    .main(ng-init='edit={status:false,tip:""}')
        .left(ng-nicescroll ns-options='{horizrailenabled:false}')
            .btn-toolbar
                span.text-muted {{edit.tip}}
                .btn-group.btn-group-sm.pull-right(ng-if='!edit.status')
                    button.btn.btn-success(ng-click='edit.status=true;watchContact()')
                        span.glyphicon.glyphicon-pencil
                        span 修改
                .btn-group.btn-group-sm.pull-right(ng-if='edit.status')
                    button.btn.btn-primary(ng-click='edit.status=false;confirmContact()')
                        span.glyphicon.glyphicon-ok
                        span 确认
                    button.btn.btn-warning(ng-click='edit.status=false;cancelContact()')
                        span.glyphicon.glyphicon-remove
                        span 取消
            hr
            .info-wrap
                div
                    .form-inline
                        span.text-right 姓名：
                        .form-group
                            input.form-control(ng-model='contact.name' ng-readonly='!edit.status')
            .info-wrap
                div
                    .form-inline
                        span.text-right 性别：
                        .form-group
                            select.form-control(ng-model='contact.gender' ng-options='gender as gender for gender in ["男","女"]' ng-disabled='!edit.status')
            .info-wrap
                div
                    .form-inline
                        span.text-right 群组：
                        .form-group(ng-if='!edit.status')
                            input.form-control(ng-model='contact.group.display' readonly)
                        .form-group.dropdown.sb-group(ng-if='edit.status' dropdown)
                            button.btn.btn-primary.btn-sm.dropdown-toggle(dropdown-toggle)
                                | {{contact.group.display.length?contact.group.display:'请选择'}}
                                span.caret
                            button.btn.btn-danger.btn-sm(ng-click='contact.group={}') &times;
                            ul.dropdown-menu
                                li(ng-if='user.groups.length==0')
                                    a 无
                                li(ng-repeat='g in user.groups')
                                    a(href='#' ng-click='contact.group=g') {{g.display}}
                                li.divider
                                li.new-group(ng-newgroup  ng-init='newgroup={input:false,key:"contactGroups"}')
            .info-wrap(ng-repeat='init in contactInit' ng-switch='init.multiple')
                div(ng-switch-when='false')
                    .form-inline
                        span.text-right {{init.display+'：'}}
                        .form-group
                            input.form-control(ng-model='contact[init.value]' ng-value='contact[init.value]' ng-readonly='!edit.status')
                div(ng-switch-when='true')
                    .form-inline(ng-repeat='input in contact[init.value] track by $index')
                        span.text-right {{init.display+'：'}}
                        .form-group
                            input.form-control(ng-model='contact[init.value][$index]' ng-readonly='!edit.status')
                        span.border-left-none(ng-show='edit.status' ng-click='advance.plus(init.value,this)')
                            span.glyphicon.glyphicon-plus
                        span(ng-show='edit.status' ng-click='advance.minus(init.value,$index)')
                            span.glyphicon.glyphicon-minus
        .right
            .form-inline
                span 添加备注：
                .form-group
                    input.form-control(ng-model='newNoteContent')
                button.btn.btn-primary(ng-click='addNewNote()') 确认
            hr
            .timeline-container(ng-nicescroll ns-options='{horizrailenabled:false}')
                ul.timeline
                    li(ng-repeat='note in contact.notes')
                        .timeline-badge.info
                            span.glyphicon.glyphicon-thumbs-up
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        span.glyphicon.glyphicon-calendar
                                        | {{note.createAt|date:'yyyy-M-dd H:mm:ss'}}
                            .timeline-body
                                p {{note.content}}
                                hr
                                span.pull-right
                                    button.btn.btn-xs.btn-warning(type='button')
                                        span.glyphicon.glyphicon-edit
                                        span 编辑
                                    button.btn.btn-xs.btn-danger(type='button')
                                        span.glyphicon.glyphicon-remove
                                        span 删除