#sb-expos
    .sb-column.left
        ul
            li.active 上海科技活动周
    .sb-column.middle
        ul
            li.active
                span “走进低温世界”科普活动
            li
                span 行在外，家就在身边
            li
                span “给生活添一点绿”体验活动
    .sb-column.right
        .list-main
            .header
                span.group-name “走进低温世界”科普活动
            table.table.table-striped(style='position:absolute;top:53px;')
                thead
                    tr
                        th
                        th 姓名
                        th 手机
                        th 公司
                        th 入场时间
                        th 离场时间
                tbody
                    tr
                        td 1
                        td 蔡凌云
                        td 13900227766
                        td 上海新时达机器人有限公司
                        td 2014-5-18 8:10:03
                        td 2014-5-18 8:14:03
                    tr
                        td 2
                        td 邢汉宾
                        td 13621652481
                        td 上海航宇科普中心
                        td 2014-5-18 8:10::45
                        td
                    tr
                        td 3
                        td 陈晓航
                        td 113918876681
                        td 上海超级计算中心
                        td 2014-5-18 8:11:10
                        td
                    tr
                        td 4
                        td 胡承伟
                        td 13651869089
                        td 上海新时达机器人有限公司
                        td 2014-5-18 8:11:45
                        td