doctype html
html
    head
        meta(http-equiv='content-type' content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge;chrome=1')
        meta(name='keywords' content='科技,NFC,联云,斯墨,信息')
        meta(name='description' content='领先的会展信息服务')
        meta(name='author' content='synorme,上海斯墨信息科技有限公司')
        title 联云
        link(rel='shortcut icon' href='/img/favicon.ico')
        link(rel='stylesheet' type='text/css' href='/css/nfc.css')
    body
        .page
            .wrapper
                .intro
                    h1.title-x NFC标签
                div(style='font-size:16px')
                    p(style='padding-top:20px;text-indent:2em;')
                        //- img.img--float(style='width: 100px; margin-right: 20px;' src='/img/brand.png')
                        | 您可在展会结束后转化您的电子胸牌成为NFC标签。通过下载SmartBadge Tool便捷部署、管理胸牌，只需要简单的触碰，即可实现睡眠飞行模式、电子名片、WiFi免密码输入、驾驶前开启GPS定位、会议静音等功能。
                    div(style='clear:both;')
                    p
                        ul#fn(style='list-style:none;margin:0;padding:0;')
                            li
                                img(src='/img/7.png' width='120')
                                span 睡眠模式
                            li
                                img(src='/img/3.png' width='120')
                                span 电子名片
                            li
                                img(src='/img/4.png' width='120')
                                span wifi连接
                            li
                                img(src='/img/5.png' width='120')
                                span 驾驶模式
                            li
                                img(src='/img/6.png' width='120')
                                span 会议模式
                    div(style='clear:both;')
                    a.button.button--action(style='font-size: 18px; margin: 2em auto 0 auto; display: block; line-height: 1; padding: 1em 1.2em; border-radius: 0.4em; width: 200px; text-align: center;') APP下载
                    p(style='text-align: center;color: #666;')
                        img(style='width: 70px; margin-right: 20px;' src='/img/brand_sm.png')
                        span(style='line-height: 30px;vertical-align: super;') 本功能由**有限公司赞助
                    div(style='border:3px dotted #ccc;background:rgba(200,200,200,.2);padding:25px 0px;text-align:center;font-size:25px;color:#333;') 赞助商广告位
