.sb-column.center#sb-settings
    .header
        h4 设置
    .main
        .well.form-horizontal
            .form-group
                label.col-sm-2.control-label 更改称呼
                .col-sm-4
                    input.form-control(ng-model='changeName.name')
                    p.help-block(ng-show='changeName.display') {{changeName.status}}
            .form-group(style='margin-bottom:0;')
                .col-sm-4.col-sm-offset-2
                    button.btn.btn-primary(ng-click='confirmChangeName()') 保存
        .well.form-horizontal
            .form-group
                label.col-sm-2.control-label 原密码
                .col-sm-4
                    input.form-control(type='password' ng-model='changePwd.oldPwd')
            .form-group
                label.col-sm-2.control-label 新密码
                .col-sm-4
                    input.form-control(type='password' ng-model='changePwd.newPwd' ng-change='checkPwd()')
            .form-group.has-feedback(ng-class='{"has-error":error==1,"has-success":error==0}')
                label.col-sm-2.control-label 确认密码
                .col-sm-4
                    input.form-control(type='password' ng-model='changePwd.reNewPwd' ng-change='checkPwd()')
                    span.form-control-feedback.glyphicon.glyphicon-remove(ng-show='error==1')
                    span.form-control-feedback.glyphicon.glyphicon-ok(ng-show='error==0')
                    p.help-block(ng-show='error>=1') {{changePwd.status}}
            .form-group(style='margin-bottom:0;')
                .col-sm-4.col-sm-offset-2
                    button.btn.btn-primary(ng-click='confirmChangePwd()') 保存
