div(style='background: #eff6fb; width: 700px;padding: 0 20px;margin: 0 auto;font-family:Microsoft YaHei,黑体;')
    ul(style='list-style: none;padding: 60px 0 20px;position: relative;')
        span(style='top: 10px;bottom: 10px;position: absolute;width: 3px;background-color: #afdcf8;left: 50%;margin-left: -1.5px;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: left;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;right: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 15px solid #ccc;border-right: 0 solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;right: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 14px solid #fff;border-right: 0 solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海新时达机器人有限公司
                div(style='margin-bottom:10px;')
                    small(style='color:#999;display:block;') 2014-5-18 8:10
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 蔡凌云
                    h6(style='margin:0;') 手机: 13900227766
                    h6(style='margin:0;') 邮箱: cly@xsdjqr.com
                    h6(style='margin:0;') 网址: http://www.xsdjqr.com
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin: 0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 机器人
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 人工智能
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: right;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;left: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 0px solid #ccc;border-right: 15px solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;left: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 0 solid #fff;border-right: 14px solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海航宇科普中心
                div(style='margin-bottom:10px;')
                    small(style='color:#999;display:block;') 2014-5-18 9:21
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 邢汉宾
                    h6(style='margin:0;') 手机: 13621652481
                    h6(style='margin:0;') 邮箱: xhb@hykp.com
                    h6(style='margin:0;') 网址: http://www.hykp.com
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin: 0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 飞行器
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 模拟驾驶
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: left;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;right: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 15px solid #ccc;border-right: 0 solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;right: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 14px solid #fff;border-right: 0 solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海超级计算中心
                div(style='margin-bottom:10px;')
                    small(style='color:#999;') 2014-5-18 10:02
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 陈晓航
                    h6(style='margin:0;') 手机: 13918876681
                    h6(style='margin:0;') 邮箱: cxh@calccenter.com
                    h6(style='margin:0;') 网址: http://www.calccenter.com
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 计算机
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 云技术
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: right;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;left: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 0px solid #ccc;border-right: 15px solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;left: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 0 solid #fff;border-right: 14px solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海新世纪机器人有限公司
                div(style='margin-bottom:10px;')
                    small(style='color:#999;') 2014-5-18 10:17
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 胡承伟
                    h6(style='margin:0;') 手机: 13651869089
                    h6(style='margin:0;') 邮箱: hcw@xsjmuchine.cn
                    h6(style='margin:0;') 网址: http://www.xsjmuchine.cn
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 机器人
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 计算机
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 人工智能
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: left;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;right: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 15px solid #ccc;border-right: 0 solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;right: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 14px solid #fff;border-right: 0 solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海航宇科普中心
                div(style='margin-bottom:10px;')
                    small(style='color:#999;display:block;') 2014-5-17 12:39
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 邢汉宾
                    h6(style='margin:0;') 手机: 13621652481
                    h6(style='margin:0;') 邮箱: xhb@hykp.com
                    h6(style='margin:0;') 网址: http://www.hykp.com
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin: 0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 飞行器
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 模拟驾驶
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: right;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;left: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 0px solid #ccc;border-right: 15px solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;left: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 0 solid #fff;border-right: 14px solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海植物园
                div(style='margin-bottom:10px;')
                    small(style='color:#999;') 2014-5-18 13:25
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 方晓度
                    h6(style='margin:0;') 手机: 13918095672
                    h6(style='margin:0;') 邮箱: fxd@shgarden.cn
                    h6(style='margin:0;') 网址: http://www.shgarden.cn
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 观赏盆栽
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: left;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;right: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 15px solid #ccc;border-right: 0 solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;right: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 14px solid #fff;border-right: 0 solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海辰山植物园
                div(style='margin-bottom:10px;')
                    small(style='color:#999;') 2014-5-18 13:46
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 王申生
                    h6(style='margin:0;') 手机: 13482884591
                    h6(style='margin:0;') 邮箱: wss@csgarden.cn
                    h6(style='margin:0;') 网址: http://www.csgarden.cn
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 观赏盆栽
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: right;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;left: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 0px solid #ccc;border-right: 15px solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;left: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 0 solid #fff;border-right: 14px solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海先德医疗设备有限公司
                div(style='margin-bottom:10px;')
                    small(style='color:#999;') 2014-5-18 14:13
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 陈启桥
                    h6(style='margin:0;') 手机: 13801621192
                    h6(style='margin:0;') 邮箱: chengqiqiao@163.com
                    h6(style='margin:0;') 网址: http://www.xdmedical.cn
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 护理
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: left;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;right: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 15px solid #ccc;border-right: 0 solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;right: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 14px solid #fff;border-right: 0 solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海群天健康信息咨询有限公司
                div(style='margin-bottom:10px;')
                    small(style='color:#999;') 2014-5-18 14:29
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 徐子力
                    h6(style='margin:0;') 手机: 13916424317
                    h6(style='margin:0;') 邮箱: xzl@qthealth.cn
                    h6(style='margin:0;') 网址: http://www.qthealth.cn
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 护理
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 可穿戴设备
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: right;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;left: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 0px solid #ccc;border-right: 15px solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;left: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 0 solid #fff;border-right: 14px solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海市健康科技协会
                div(style='margin-bottom:10px;')
                    small(style='color:#999;') 2014-5-18 14:46
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 杨莉
                    h6(style='margin:0;') 手机: 13818363327
                    h6(style='margin:0;') 邮箱: yangli@163.com
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 健康
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin:0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 可穿戴设备
            div(style='clear:both;')
        li(style='margin-top:-40px;margin-bottom: 20px;position: relative;')
            div(style='color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #479dd8;z-index: 100;border-radius: 50%;')
                img(src='/img/location.png' height='35' style='margin-top:7px;')
            div(style='background:#fff;width: 260px;float: left;border: 1px solid #d4d4d4;border-radius: 2px;padding: 10px 20px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);')
                span(style='position: absolute;top: 26px;right: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 15px solid #ccc;border-right: 0 solid #ccc;border-bottom: 15px solid transparent;')
                span(style='position: absolute;top: 27px;right: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 14px solid #fff;border-right: 0 solid #fff;border-bottom: 14px solid transparent;')
                h4(style='margin:0;') 上海天鹞医疗科技有限公司
                div(style='margin-bottom:10px;')
                    small(style='color:#999;display:block;') 2014-5-18 16:10
                div(style='color:#666;margin-bottom:10px;')
                    h6(style='margin:0;') 联系人: 王毅
                    h6(style='margin:0;') 手机: 13701781110
                    h6(style='margin:0;') 邮箱: wy@tyhealth.cn
                    h6(style='margin:0;') 网址: http://www.tyhealth.cn
                div(style='margin-bottom:10px;')
                    span(style='font-size:14px;display: inline-block;padding: 3px 6px;margin: 0 10px 0 0;text-align: center;cursor: pointer;color: #fff;background-color: #f0ad4e;border-color: #eea236;border: 1px solid transparent;border-radius: 4px;') 护理
            div(style='clear:both;')
    div(style='clear:both;')